body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    width: 200px;
    height: 55px;

    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.banner-buttons {
    display: flex;
    justify-content: space-between;

    width: 437px;
}

.btn-primary {
 background-color: #3A95FF;
 color: #fff;
}

.btn-secondary {
    border: 1px solid #3A95FF;
    color: #3A95FF;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-top {
    border-bottom: 1px solid #dedede;
}

.header-top-info {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    width: 945px;
    display: flex;
    justify-content: space-between;
}

.top-menu-list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
}

.top-menu-list a {
    color: #424242;
}

.list-left {
    width: 352px;
}

.list-left a {
    width: 352px;
    text-decoration: none;
}

.list-right {
    width: 340px;
}
.list-blue {
    color: #3A95FF;
    font-weight: 600;
    text-decoration: none;
}

.list-blue1 a {
    text-decoration: none;
}

.header-bottom {
    border-bottom: 1px solid #dedede;
}

.main-menu-list {
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu-list a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #424242;
}

.main-banner {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.main-banner-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-offer-text {
    font-weight: 600;
    font-size: 52px;
    line-height: 110%;
    color: #212121;
    margin-bottom: 63px;
}